<h2>Notifications</h2>
<div class="notifications-container">
  <ul>
    <li *ngFor="let notification of data.notifications.slice(0, visibleCount)" [class.unread]="!notification.lu">
      <span>{{ notification.message }}</span>
      <button *ngIf="!notification.lu" (click)="markAsRead(notification.id)">Mark as read</button>
    </li>
  </ul>
</div>
<div>
  <button (click)="loadMore()" *ngIf="visibleCount < data.notifications.length">Load More</button>
</div>
<div>
  <button (click)="markAllAsRead()" *ngIf="unreadCount > 0">Mark All as Read</button>
</div>
<div>
  <button (click)="closeDialog()">Close</button>
</div>
