<h2>Notifications</h2>
<ul>
  <li *ngFor="let notification of data.notifications" [class.unread]="!notification.lu">
    <span>{{ notification.message }}</span>
    <button *ngIf="!notification.lu" (click)="markAsRead(notification.id)">Mark as read</button>
  </li>
</ul>
<div>
  <!-- Bouton pour marquer toutes les notifications comme lues -->
  <button (click)="markAllAsRead()" *ngIf="unreadCount > 0">Mark All as Read</button>
</div>
<div>
  <button (click)="closeDialog()">Close</button>
</div>
