.modal-header {
  background-color: #3f51b5; /* Modification de la couleur de fond */
  color: white;
  padding: 1.2rem; /* Ajustement du padding */
  border-bottom: 1px solid #ccc; /* Changement de la bordure */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.6rem; /* Augmentation de la taille de la police */
  margin: 0;
  font-weight: 500; /* Ajout de gras pour le titre */
}

.close-button {
  background: none;
  border: none;
  font-size: 1.8rem; /* Augmentation de la taille pour plus de visibilité */
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 1.5rem; /* Augmentation du padding */
  max-height: 65vh; /* Réduction de la hauteur pour plus d'espace */
  overflow-y: auto;
}

.modal-body h5 {
  margin-top: 1rem;
  color: #3f51b5; /* Harmonisation des couleurs */
  font-size: 1.3rem; /* Ajustement de la taille */
  font-weight: bold;
}

.modal-body p {
  margin: 0.6rem 0;
  font-size: 1.1rem; /* Augmentation de la taille de la police pour plus de lisibilité */
  color: #444; /* Changement de couleur pour un texte moins sombre */
}

.modal-footer {
  padding: 1.2rem; /* Ajustement du padding */
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between; /* Espacement uniforme des boutons */
}

.modal-footer button {
  background-color: #4caf50; /* Changement de la couleur des boutons en vert */
  color: white;
  border: none;
  padding: 0.6rem 1.2rem; /* Ajustement du padding pour des boutons plus grands */
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: #388e3c; /* Couleur verte plus foncée au hover */
}

@media (max-width: 768px) {
  .modal-header,
  .modal-footer {
    flex-direction: column;
    align-items: center;
  }

  .modal-body {
    max-height: 55vh; /* Réduction pour petits écrans */
  }
}
