<h2 mat-dialog-title>Détails de la Visite</h2>
<div mat-dialog-content>
  <p><strong>Date:</strong> {{ data.date }}</p>
  <p><strong>Heure Début:</strong> {{ data.heureDebutVisite }}</p>
  <p><strong>Heure Fin:</strong> {{ data.heureFinVisite }}</p>
  <p><strong>Type de Visite:</strong> {{ data.typeVisite }}</p>
  <p><strong>Status:</strong> {{ data.statusVisite }}</p>
  <p *ngIf="data.motif"><strong>Motif:</strong> {{ data.motif }}</p>
  <p *ngIf="data.medecin"><strong>Médecin:</strong> {{ data.medecin.nom }} {{ data.medecin.prenom }}</p>
  <p *ngIf="data.collaborateur"><strong>Collaborateur:</strong> {{ data.collaborateur.nom }} {{ data.collaborateur.prenom }}</p>
  <mat-form-field *ngIf="showJustificationField">
    <mat-label>Justification pour non-validation</mat-label>
    <input matInput [(ngModel)]="justification" placeholder="Entrez une justification">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fermer</button>
  <div *ngIf="data.statusVisite === 'EN_ATTENTE_VALIDATION'">
    <button mat-button color="primary" (click)="valider()">Valider</button>
    <button mat-button color="warn" (click)="nonValider()">Non Valider</button>
    <button mat-button color="warn" (click)="submitNonValidation()">Confirmer Non Validation</button> <!-- Bouton pour confirmer la non-validation -->
  </div>
</div>