<div class="popup-dialog">
  <div class="popup-header">
    <h2 class="popup-title">Ajouter un collaborateur</h2>
  </div>
  <form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Nom"
      [(ngModel)]="user.nom"
      name="nom"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Prénom"
      [(ngModel)]="user.prenom"
      name="prenom"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Date de Naissance"
      [(ngModel)]="user.dateNaissance"
      name="dateNaissance"
      type="date"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Rôle" [(ngModel)]="user.role" name="role" required>
      <mat-option value="COLLABORATEUR">Collaborateur</mat-option>
      <mat-option value="CHARGE_RH">Chargé RH</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Département"
      [(ngModel)]="user.departement"
      name="departement"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Nom d'utilisateur (username)"
      [(ngModel)]="user.username"
      name="username"
      required
    />
  </mat-form-field>
  <div class="popup-actions">
  <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  <button mat-button type="button" (click)="close()">Annuler</button>
  </div>
</form>
</div>
