.title {
  text-align: center; /* Centre le titre */
  margin-bottom: 30px; /* Espace sous le titre */
  margin-top: 10px;
}

.title h1 {
  font-size: 24px; /* Taille de la police du titre */
  color: #333; /* Couleur du texte du titre */
  font-weight: bold; /* Met le texte en gras */
}
.status {
  text-align: center; /* Centre le titre */
  margin-bottom: 30px; /* Espace sous le titre */
  margin-top: 10px;
}
.status h2 {
  font-size: 20px; /* Taille de la police du titre */
  color: #333; /* Couleur du texte du titre */
  font-weight: bold;
}
.collaborateurs-list-container {
  display: flex; /* Use flexbox to arrange tables horizontally */
  margin-left: 250px; /* Margin to leave space for the sidebar */
  padding: 20px;
  box-sizing: border-box;
  gap: 40px; /* Space between tables */
}

/* Each table container styling */
.collaborateurs-list-container > div {
  flex: 1; /* Allow tables to take available space */
}
.no-records-message {
  background-color: #f8d7da; /* Couleur de fond rouge clair */
  color: #721c24; /* Couleur du texte rouge foncé */
  border: 1px solid #f5c6cb; /* Bordure rouge clair */
  border-radius: 4px; /* Coins arrondis */
  padding: 15px; /* Espacement interne */
  margin-top: 10px; /* Espace au-dessus du message */
  text-align: center; /* Centre le texte */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff; /* Background color for the table */
  border-radius: 8px; /* Rounded corners for the table */
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

thead {
  background-color: #3498db; /* Header background color */
  color: #fff; /* Header text color */
}

th,
td {
  padding: 12px 15px; /* Padding for cells */
  text-align: left; /* Align text to the left */
  text-align: center; /* Centre le titre */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

th {
  border-bottom: 2px solid #ddd; /* Border at the bottom of header cells */
}

td {
  border-bottom: 1px solid #ddd; /* Border at the bottom of data cells */
}

/* Button styling */
button {
  padding: 8px 12px; /* Padding for buttons */
  border: none;
  border-radius: 4px; /* Rounded corners for buttons */
  color: #fff;
  background-color: #3498db; /* Button background color */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Space between buttons */
}

/* Remove margin on the last button if needed */
td button:last-child {
  margin-right: 0; /* Remove right margin for the last button */
}

button:hover {
  background-color: #2980b9; /* Darker background color on hover */
}

h2 {
  margin-top: 20px; /* Color for section headers */
  margin-bottom: 10px;
}
