<div class="popup-overlay">
  <div class="popup-container">
    <h1>Créer un Médecin</h1>
    <form [formGroup]="medecinForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nom">Nom:</label>
        <input id="nom" formControlName="nom" required />
      </div>
      
      <div>
        <label for="prenom">Prénom:</label>
        <input id="prenom" formControlName="prenom" required />
      </div>
      
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="username" type="email" required />
      </div>
      
      <div>
        <label for="dateNaissance">Date de Naissance:</label>
        <input id="dateNaissance" type="date" formControlName="dateNaissance" required />
      </div>
      
      <div>
        <label for="experience">Experience:</label>
        <input id="experience" formControlName="experience" required />
      </div>
      
      <div>
        <label for="qualification">Qualification:</label>
        <input id="qualification" formControlName="qualification" required />
      </div>
      
      <div>
        <label for="siteTravail">Site de Travail:</label>
        <input id="siteTravail" formControlName="siteTravail" required />
      </div>
      
      <div class="button-container">
        <button type="button" (click)="close()">Annuler</button>
        <button type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>