/* Sidebar container */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 15px; /* Padding latéral réduit */
  z-index: 1000;
}
.sidebar-content ul {
  display: flex;
  flex-direction: column;
}

/* Logo and user information */
.pro-sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px; /* Espacement accru */
}

.user-initials {
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}
.user-initials:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.user-fullname {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
  padding: 0 10px; /* Padding latéral pour éviter chevauchements */
}

/* Sidebar content */
.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 18px;
}

.menu-item a {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
  padding: 12px 20px; /* Padding intérieur accru */
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.menu-item a:hover {
  background-color: #34495e;
}

.menu-icon {
  margin-right: 12px; /* Espacement pour l'icône */
}

.menu-icon i {
  font-size: 22px;
}

.menu-title {
  font-size: 16px;
}

/* Last item styling */
.menu-item a.active {
  background-color: #1abc9c;
  color: #ffffff;
}

/* Add this to your existing CSS */
.menu-item a.logout {
  color: red; /* Set the text color to red */
}

.menu-item a.logout:hover {
  color: #e74c3c; /* Optional: Change color on hover */
}

