<h1 mat-dialog-title>Détails de la visite</h1>
<div mat-dialog-content>
  <p><strong>Type de visite:</strong> {{ data.typeVisite }}</p>
  <p><strong>Date:</strong> {{ data.date }}</p>
  <p><strong>Heure de début:</strong> {{ data.heureDebut }}</p>
  <p><strong>Heure de fin:</strong> {{ data.heureFin }}</p>
  <p *ngIf="data.motif"><strong>Motif:</strong> {{ data.motif }}</p>
  <p><strong>Statut:</strong> {{ data.statut }}</p>
  <p><strong>Collaborateur:</strong> {{ data.collaborateur?.prenom }} {{ data.collaborateur?.nom }}</p>
  
  <h3>Documents envoyés par le collaborateur:</h3>
  <ul *ngIf="data.documents?.length > 0; else noDocs">
    <li *ngFor="let document of data.documents">
      <button (click)="downloadFile(document.cheminFichier)">{{ document.nomFichier }}</button>
    </li>
  </ul>
  <ng-template #noDocs>
    <p>Aucun document n'a été envoyé.</p>
  </ng-template>

  <h3>Dossiers Médicaux Associés:</h3>
  <ul *ngIf="dossiersMedicaux.length > 0; else noDossiers">
    <li *ngFor="let dossier of dossiersMedicaux">
      <strong>Description:</strong> {{ dossier.description }}<br>
      <strong>Médicaments:</strong> {{ dossier.medicaments }}<br>
    </li>
  </ul>
  <ng-template #noDossiers>
    <p>Aucun dossier médical associé à cette visite.</p>
  </ng-template>

  <ng-container *ngIf="data.statut !== 'TERMINE' && data.statut !== 'ANNULE'">
    <h3>Changer le statut de la visite</h3>
    <button mat-button (click)="changeStatus()">{{ data.statut === 'PLANIFIE' ? 'Passer à EN_COURS' : 'Passer à TERMINÉ' }}</button>
  </ng-container>

  <ng-container  *ngIf="data.statut !== 'TERMINE' && data.statut !== 'ANNULE' && data.statut !== 'EN_COURS'">
  <h3>Annuler la visite</h3>
  <mat-form-field appearance="fill">
    <mat-label>Motif d'annulation</mat-label>
    <textarea matInput [(ngModel)]="motifAnnulation" placeholder="Entrez un motif d'annulation"></textarea>
  </mat-form-field>
</ng-container>
</div>

<div mat-dialog-actions>
  <button mat-button *ngIf="data.statut !== 'TERMINE' && data.statut !== 'ANNULE' && data.statut !== 'EN_COURS'" (click)="onAnnuler()">Annuler la visite</button>
  <!-- Add this button inside the mat-dialog-actions or wherever appropriate -->
  <button mat-button (click)="openDossierMedicalDialog()">Ajouter Dossier Médical</button>
  <button mat-button mat-dialog-close>Fermer</button>
</div>
