.mat-dialog-title {
  font-size: 1.8em;
  font-weight: bold;
  color:black;
  margin-bottom: 10px;
}

.mat-dialog-content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.mat-dialog-content p {
  margin: 10px 0;
  font-size: 1em;
  color: #444;
}

h3 {
  margin-top: 25px;
  font-size: 1em;
  color: black;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
  font-size: 0.95em;
  color: #333;
}

button {
  margin-top: 8px;
  font-size: 0.9em;
  padding: 8px 12px;
  background-color: #6ecaff;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #57bef9;
}

.mat-form-field {
  width: 100%;
  margin-top: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  border-top: 1px solid #e0e0e0;
}

.mat-dialog-actions button {
  margin-left: 10px;
}

.mat-dialog-container {
  border-radius: 8px;
  max-width: 600px;
}

.ng-template {
  font-size: 0.9em;
  color: #757575;
}
