<h2>Créer un Créneau</h2>
<form>
    <!-- Étape 1: Créneau -->
  <div *ngIf="currentStep === 'creneau'">
  <label>Date:</label>
  <input type="date" [value]="data.date" disabled />

  <label>Heure de Début du Créneau:</label>
  <input
    type="time"
    [(ngModel)]="data.heureDebutVisite"
    name="heureDebut"
    required
  />

  <label>Heure de Fin du Créneau:</label>
  <input
    type="time"
    [(ngModel)]="data.heureFinVisite"
    name="heureFin"
    required
  />

  <label>Type de Visite:</label>
  <select [(ngModel)]="data.typeVisite" name="typeVisite" required>
    <option *ngFor="let option of typeVisiteOptions" [value]="option">
      {{ option }}
    </option>
  </select>
</div>$

<!-- Étape 2: Collaborateurs -->
<div *ngIf="currentStep === 'collaborateurs'">
  <label>Collaborateurs Concernés:</label>
  <select
    [(ngModel)]="data.collaborateurId"
    name="collaborateurId"
    required
  >
    <option
      *ngFor="let collaborateur of collaborateurs"
      [value]="collaborateur.idUser"
    >
      {{ collaborateur.nom }} {{ collaborateur.prenom }}
    </option>
  </select>
</div>

  <!-- Étape 3: Médecins -->
  <div *ngIf="currentStep === 'medecins'">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    
    <div *ngIf="!isLoading">
      <div *ngIf="medecinsDisponibles.length === 0">
        Aucun médecin disponible pour ce créneau.
      </div>
      
      <mat-list *ngIf="medecinsDisponibles.length > 0">
        <mat-list-item *ngFor="let medecin of medecinsDisponibles">
          <mat-radio-button
            [value]="medecin.idUser"
            (change)="selectMedecin(medecin.idUser)"
            [checked]="data.medecinId === medecin.idUser">
            {{medecin.nom}} {{medecin.prenom}}
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-dialog-actions align="end">
  <button type="button" (click)="onNoClick()">Annuler</button>
  <button mat-button *ngIf="currentStep !== 'creneau'" (click)="onPrevious()">Précédent</button>
    <button mat-button *ngIf="currentStep === 'creneau'" (click)="onNext()" [disabled]="!data.date || !data.heureDebutVisite || !data.heureFinVisite">Suivant</button>
    <button mat-button *ngIf="currentStep === 'collaborateurs'" (click)="onNext()" [disabled]="!data.collaborateurId">Suivant</button>
    <button mat-button *ngIf="currentStep === 'medecins'" (click)="onSave()" [disabled]="!data.medecinId">Créer le Créneau</button>
</mat-dialog-actions>

</form>
