<h2>Créer un Créneau</h2>
<form>
  <label>Date:</label>
  <input type="date" [value]="data.date" disabled />

  <label>Heure de Début du Créneau:</label>
  <input
    type="time"
    [(ngModel)]="data.heureDebutVisite"
    name="heureDebut"
    required
  />

  <label>Heure de Fin du Créneau:</label>
  <input
    type="time"
    [(ngModel)]="data.heureFinVisite"
    name="heureFin"
    required
  />

  <label>Type de Visite:</label>
  <select [(ngModel)]="data.typeVisite" name="typeVisite" required>
    <option *ngFor="let option of typeVisiteOptions" [value]="option">
      {{ option }}
    </option>
  </select>

  <label>Collaborateurs Concernés:</label>
  <select
    [(ngModel)]="data.collaborateurId"
    name="collaborateurId"
    required
  >
    <option
      *ngFor="let collaborateur of collaborateurs"
      [value]="collaborateur.idUser"
    >
      {{ collaborateur.nom }} {{ collaborateur.prenom }}
    </option>
  </select>

  <button type="button" (click)="onSave()">Créer le Créneau</button>
  <button type="button" (click)="onNoClick()">Annuler</button>
  <button type="button" (click)="goToMedecins()">Suivant</button>
</form>
