<div class="parent"> 
  <div class="container" id="container">
    <div class="form-container">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <img src="assets/images/SQLI_LOGO.png" alt="SQLI Logo" class="logo-image">
        <h1>Changer le mot de passe</h1>
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="changePasswordForm.get('password')?.hasError('required')">
            Le mot de passe est requis.
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
            Le mot de passe doit contenir au moins 6 caractères.
          </mat-error>      
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="changePasswordForm.invalid">
          Changer le mot de passe
        </button>
      </form>
    </div>
  </div>
</div>
